<!-- Fixed header navbar -->
<nav class="sticky-top navbar navbar-expand-sm navbar-dark bg-dark" id="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <div class = "mr-2"><a class="btn btn-primary" href="{% url 'registration' %}">Register</a></div>
        <a class="btn btn-primary" href="{% url 'subscriber_list' %}">Subscriber List</a>
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" id="home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
