{% extends 'lab_6/../layout/base.html' %}
{%load static%}

    {% block content %}
    <nav class="m-4 pr-md-2">
      <div class="container-fluid" id="my_bio">
        <div class="row">
          <div class="col-sm-3 p-0">
            <img src="{% static 'images/cloud.png' %}" class="featurette-image img-fluid mx-auto">
          </div>
          <div class="col-sm mb-0 pb-0 pl-3">
            <div class="row pl-3 pt-3 pt-md-5">
              <h4>“A dedicated student with proven analysis and problem-solving skills, highly interested in business and IT development”</h4>
            </div>
            <div class="row pt-md-3">
              <div class="col-sm ml-3 mt-4">
                <h4 class="sub2-header m-0">CONTACT</h4>
                <p class="contain m-0">+62 877 1177 6565</p>
                <p class="contain m-0">clouddian.fazalmuttaqin@ui.ac.id</p>
                <p class="contain m-0">Depok, West Java, Indonesia</p>     
              </div>
              <div class="col-sm ml-3 mt-4 pl-3">
                <h4 class="sub2-header m-0">EDUCATION</h4>
                <p class="contain m-0">Bachelor of Science, Majoring Information System</p>
                <p class="contain m-0">Universitas Indonesia</p>
                <p class="contain m-0">2017 - 2021 (EXPECTED)</p>    
              </div>
            </div>
            <div class="row mt-4 mt-md-5">
              <div class="ml-3 pl-3 mb-3">
                <h4 class="sub2-header m-0">SKILLS</h4>
                <p class="contain m-0">- Sufficient understanding in Python and Java.</p>
                <p class="contain m-0">- Well knowledge in Agile and the use of SCRUM Framework.</p>
                <p class="contain m-0">- Experienced in team management.</p>
                <p class="contain m-0">- Strong problem-solving and analysis skills.</p>
                <p class="contain m-0">- Product-Tools Used: Jira, Confluence, Trello, Marvel, Figma</p>
                <p class="contain m-0">- Dev-Tools Used : Git, Marvel, Intellij</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="m-4 pr-md-2">
      <div id="accordion">
        <h3 class="container-fluid">Experience</h3>
        <div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Product Manager Internship</h5> 
            </div>
            <div class="row">
              <p class="contain m-0 p-2">During the internship period, I was involved in monitoring and enhancing Bizzy catalog product. My responsibilities include: (1) Conduct analysis for product enhancement; (2) Establish comprehensive documentation of product specs; (3) Monitor product and sprint backlog; (4) Define and break down clear product requirement to Tech Team and Product Design; (5) Conduct user testing with Product Design; (5) Maintain Bizzy active SKU with Content and Merchandise Team.</p>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Teaching Assistant of Discrete Mathematics 1</h5>  
            </div>
            <div class="row">
              <p class="contain m-0 p-2">My responsibility is to help the lecturer in assisting students whenever they need help, setting up and evaluating their assignments, and overseeing their exams.</p>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Delegate of SxC Future Leader Academy</h5>
            </div>
            <div class="row">
              <p class="contain m-0 p-2">Elected as a delegation in the biggest event organized by StudentsxCEOs. Presenting my idea in FinTech about digitizing SMEs, providing cashless transaction and giving accurate recommendation using Big Data.</p>
            </div>
          </div>
        </div>

        <h3 class="container-fluid">Organization/Committee</h3>
        <div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Staff of Academics and Leadership</h5> 
            </div>
            <div class="row">
              <p class="contain m-0 p-2">Responsible for caring and helping some students in facing their academic issue, generate the spirit of leadership inside every computer science student, and give students support in preparing their post-graduate life.</p>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Staff of Business IT Case</h5>  
            </div>
            <div class="row">
              <p class="contain m-0 p-2">Compfest is one of the biggest IT events held by the students of the Computer Science UI with Business IT Case as one of the competition. My responsibilities include conduct partnership with several potential partners, establish all document partnership (MoU, ToR), and collaborate with other members in executing all the rundown.</p>
            </div>
          </div>
        </div>
        <h3 class="container-fluid">Achievement</h3>
        <div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">Top 10 Semifinalist of Information System Case Competition 2018</h5> 
            </div>
            <div class="row">
              <p class="contain m-0 p-2">ISCC is is an international level business case competition held by Binus International Association of Information Systems. In 2018, ISCC proposes "HealthTech" as its competition theme outline. Me and my team manage to become top 10 semifinalists out of 40+ teams submission, with 25% international teams like from Hongkong and Malaysia and 75% national teams from many prominent universities in Indonesia likes ITB, ITS, Binus, and President University.</p>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">1st Runner Up of School of Indonesian Youth Entrepreneur (SHINE) Business Plan Competition</h5>  
            </div>
            <div class="row">
              <p class="contain m-0 p-2">SHINE is a series of events organized by the International Business Students Association from D3 FEB UNPAD to explore entrepreneurship potential, improve the skills and practice in making business plans, and create ideas that can compete in international markets of Asian Economic Community (AEC). Me and my team successfully managed to become top 3 finalists.

Thru the competition, we were challenged to invent an outstanding business idea that can solve Indonesia major problem. as a final result, we proposed job matchmaking platform based mobile application which connects talented students with reputable companies to resolved Indonesia human resource issues and successfully got 1nd runner-up position in the final round.</p>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="m-0 pl-2 my-auto">1st Runner Up of HIMSISFO IS Case Solution (IS CASO)</h5>
            </div>
            <div class="row">
              <p class="contain m-0 p-2">EIS Case Solution is a national level business IT case competition held by Information Systems Student Association, Binus University.

In this competition, me and my team were challenged to present ripping solution that can solve Uber company problem containing brand improvement, marketing strategy, system transparency, and future recommendation to leveraging Uber business value. In our final result, we recommend Uber to establish rush hour maps, transparent payment and expand their business to India. The judges for the final round are an experts developer and lecturer. Finally, we finished the competition in 2nd place.</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% endblock %}
