{% extends 'lab_6/../layout/base.html' %}
{%load static%}

    {% block content %}
    <nav class="m-4 pr-md-2">
        <nav class="container-fluid p-3 text-center">
        <h1 class="h3 my-3 font-weight-normal text-center">Hello apa kabar?</h1>
        <section name="form">
            <form class = "mx-auto form-signin" id="form" method="POST" action="/add_status/">
                {% csrf_token %}
                {{ status_form }}
                <p class="lead">
                    <button class="btn btn-light btn-block mt-3" id = "submit" type="submit">SUBMIT</button>
                </p>
            </form>
        </section>
        </nav>
    </nav>

    {% if status_list %}
        {% for status in status_list %}
            <nav class="m-4 pr-md-2" id="list-status">
                <div class="container-fluid">
                    <div class="row p-1">
                        <h5> {{status.my_status}} </h5>
                    </div>
                    <div class="row p-1">
                        {{status.created_date}}
                    </div>
                </div>
            </nav>
        {% endfor %}
    {% endif %}

    {% endblock %}