{% extends 'lab_10/layout/base.html' %}
{%load static%}

    {% block content %}
    <nav class="m-4 pr-md-2">
      <nav class="container-fluid p-3">
          <h1 class="display-3">Subscriber List</h1>
      </nav>
    </nav>

    <nav class="m-4 pr-md-2" id="book-list">
      <nav class="container-fluid p-3">
        <table class="table table-bordered table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Unsubscribe</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <!-- content from Ajax -->
            </tbody>
          </table>


          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id = "password-confirm" placeholder="Please input your password" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="delete" onclick = "confirmPassword()">Delete</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </nav>
    </nav>

    {% endblock %}