<!-- Fixed header navbar -->
<nav class="sticky-top navbar navbar-expand-sm navbar-dark bg-dark" id="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        {% if user.is_authenticated %}
        <a class="text-white disable">{{ user.first_name }}</a>
        {% endif %}
        <ul class="navbar-nav ml-auto mr-2">
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'lab_11:logout' %}">Logout</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            {% endif %}
        </ul>
    </div>
</nav>
