{% extends 'lab_11/layout/base.html' %}
{%load static%}

    {% block content %}
    <nav class="m-4 pr-md-2">
        <nav class="container-fluid p-3">
            <h1 class="display-3">JSON Google Book Viewer</h1>
            {% if user.is_authenticated %}
            <h1 class="display-4">Hi, {{ user.first_name }}</h1>
            {% else %}
            <h1 class="display-4">Hi, Please login first</h1>
            {% endif %}
        </nav>
    </nav>

    {% if user.is_authenticated %}
    <nav class="m-4 pr-md-2">
        <nav class="container-fluid p-3">
            <nav>
                <h1 class="display-5">★: <span id="favorite-count"></span> Favorite book</h1>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="text-search" placeholder="Search book..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-outline-white" type="button" id="button-search" onclick='search()'>Search</button>
                    </div>
                </div>
            </nav>
        </nav>
    </nav>

    <nav class="m-4 pr-md-2" id="book-list">
        <nav class="container-fluid p-3">
            <table class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year Published</th>
                    <th scope="col">Favourite</th>
                </tr>
                </thead>
                <tbody id="table-body">
                <!-- content from Ajax -->
                </tbody>
            </table>
        </nav>
    </nav>
    {% endif %}
    {% endblock %}