<!-- Fixed header navbar -->
<nav class="sticky-top navbar navbar-expand-sm navbar-dark bg-dark" id="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        {% if user.is_authenticated %}
            <a class="btn btn-primary mr-3" href="">Logout</a>
            <a class="text-white disable">Hi, {{ user.username }}</a>
        {% else %}
            <a class="btn btn-primary mr-3" href="{% url 'registration' %}">Register</a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        {% endif %}
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" id="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" id="about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book_list' %}" id="about">Book List <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" id="light-on">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Light
            </label>
            <label class="btn btn-secondary" id="dark-on">
              <input type="radio" name="options" id="option2" autocomplete="off"> Dark
            </label>
        </div>
    </div>
</nav>
